{% load static %}
<center>
<body style="background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));">
    <tr>
        <a href="https://www.facebook.com/ravuruyugandhar"><img alt="facebook" src="{% static 'images/facebook.png' %}" width="50" height="50"></a>
        <a href="https://www.instagram.com/yugandhar_ravuru"><img alt="instagram" src="{% static 'images/instagram.jpg' %}" width="50" height="50"></a>
        <a href="https://www.linkedin.com/in/yugandhar-r-408bb6152)"><img alt="linkedin" src="{% static 'images/linkedin.png' %}" width="50" height="50"></a>
        <a href="https://twitter.com/ravuruyugandhar"><img alt="twitter" src="{% static 'images/twitter.png' %}" width="50" height="50"></a>
        
    </tr>
</center>
<center><a href="{% url 'myself' %}">CLICK TO HOME PAGE</a></center>
</body>